.head, .foot { 
	text-align: center; color: pink; font-weight: bold;
}

.head {
	font-family: 'Astloch', cursive;
}
.Newopen {
	text-align: center;
}


a:visited {
	color: pink;
}
a:hover {
	font-weight: bold;
}
